<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
<link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel='stylesheet' href='/stylesheets/styles.css'>
  </head>
  <body>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
