body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Alef";
}

.bigimg {
    background-image: url(../images/oilrig.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #000;
    font-size: 30px;
    height: 100%;
}

.text-sm {
    font-size: 16px;
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #ffffff;
}

@media (min-width: 560px) {
    .bigimg {
        background-image: url(../images/oilrig.jpg);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        color: #000;
        font-size: 30px;
        height: 100%;
    }
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.topleft img {
    max-width: 100%;
    border-radius: 50;
    opacity: 0.6;
}

.bottomleft {
    bottom: 0;
    left: 16px;
    position: absolute;
    color: rgb(231, 216, 216);
}

.middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    width: 40%;
    margin: auto;
}