body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Alef";
}

img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.bigimg {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(20, 188, 198, 0.6895133053221288) 50%, rgba(0, 212, 255, 1) 100%, rgba(8, 31, 135, 1) 100%);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #000;
    font-size: 30px;
    height: 100%;
}

.text-sm {
    font-size: 16px;
    color: #000;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #000;
}

#demo {
    color: rgb(243, 89, 89);
}

.info {
    color: rgb(243, 89, 89);
}

@media (min-width: 560px) {
    .bigimg {
        background-image: url(../images/oilrig.jpg);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        color: #000;
        font-size: 30px;
        height: 100%;
    }
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.topleft img {
    max-width: 100%;
    border-radius: 50;
    opacity: 0.6;
}

.bottomleft {
    bottom: 0;
    left: 16px;
    position: absolute;
    color: rgb(231, 216, 216);
}

.middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media(min-width: 560px) {
    .middle {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 56px;
    }
    .middle h1 {
        font-size: 40px;
    }
}

hr {
    width: 40%;
    margin: auto;
    background-color: rgba(241, 132, 59, 0.781);
}